## Load modules and packages

In [1]:
import numpy as np
import pandas as pd
import datetime
from tqdm.notebook import tqdm
from random import sample
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn import tree
from sklearn.metrics import roc_auc_score
import random
from sklearn.pipeline import Pipeline
import category_encoders as ce
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.experimental import enable_halving_search_cv # noqa
# now you can import normally from model_selection
from sklearn.model_selection import HalvingRandomSearchCV

## Load data

In [2]:
random.seed(10) 

from functions import *
# Load data - set index column, decimal point, separator
data = pd.read_csv('hw1_devsample.csv', sep=',',
                   decimal='.', index_col='SK_ID_CURR')

# print time of data being loaded - use strftime
print(f'Data loaded on:   {datetime.datetime.now().strftime(format="%Y-%m-%d %H:%M:%S")}')
data_cart = data.copy()

data_test = pd.read_csv('hw1_outofsample.csv', sep=',',decimal='.', index_col='SK_ID_CURR')

Data loaded on:   2022-05-04 15:04:22

In [3]:
print(data_cart)

            TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
SK_ID_CURR
215138         0.0         Cash loans           M            N
325963         0.0         Cash loans           M            Y
206923         0.0         Cash loans           F            N
265855         0.0         Cash loans           F            N
359795         0.0    Revolving loans           F            N
...            ...                ...         ...          ...
203263         0.0         Cash loans           F            N
304373         0.0         Cash loans           M            N
348873         0.0         Cash loans           F            Y
296666         1.0         Cash loans           M            Y
259380         0.0         Cash loans           F            N

           FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
SK_ID_CURR
215138                   Y           0.0          135000.0    646920.0
325963                   Y           0.0          135000.0    740218.5
206923                   Y           0.0          180000.0    339241.5
265855                   Y           0.0          180000.0   1264428.0
359795                   Y           NaN           76500.0    202500.0
...                    ...           ...               ...         ...
203263                   N           0.0          135000.0    888840.0
304373                   Y           0.0          306000.0   1288350.0
348873                   N           0.0          225000.0    781920.0
296666                   Y           2.0          202500.0    634887.0
259380                   Y           3.0           67500.0    163008.0

            AMT_ANNUITY  AMT_GOODS_PRICE  ...  \
SK_ID_CURR                                ...
215138          25195.5         540000.0  ...
325963          40284.0         639000.0  ...
206923          12919.5         238500.0  ...
265855          37098.0         990000.0  ...
359795          10125.0         202500.0  ...
...                 ...              ...  ...
203263          29506.5         675000.0  ...
304373          41692.5        1125000.0  ...
348873          41400.0         675000.0  ...
296666          25987.5         513000.0  ...
259380          11020.5         144000.0  ...

           MEAN_AMTCR_OVERDUE_0M_INFM_TYPE_EQ_ACTIVE_DIV_MEAN_AMTCR_0M_INFM_TYPE_EQ_ACTIVE  \
SK_ID_CURR
215138                                                    0.0
325963                                                    0.0
206923                                                    0.0
265855                                                    0.0
359795                                                    NaN
...                                                       ...
203263                                                    0.0
304373                                                    0.0
348873                                                    0.0
296666                                                    0.0
259380                                                    NaN

           MEAN_AMTCR_OVERDUE_0M_12M_TYPE_EQ_ACTIVE_DIV_MEAN_AMTCR_0M_12M_TYPE_EQ_ACTIVE  \
SK_ID_CURR
215138                                                    NaN
325963                                                    0.0
206923                                                    NaN
265855                                                    0.0
359795                                                    NaN
...                                                       ...
203263                                                    NaN
304373                                                    NaN
348873                                                    0.0
296666                                                    0.0
259380                                                    NaN

           MEAN_AMTCR_OVERDUE_0M_INFM_TYPE_EQ_CLOSED_DIV_MEAN_AMTCR_0M_INFM_TYPE_EQ_CLOSED  \
SK_ID_CURR
215138                                                    0.0
325963                                                    0.0
206923                                                    0.0
265855                                                    NaN
359795                                                    0.0
...                                                       ...
203263                                                    0.0
304373                                                    NaN
348873                                                    0.0
296666                                                    NaN
259380                                                    0.0

           MEAN_AMTCR_OVERDUE_0M_12M_TYPE_EQ_CLOSED_DIV_MEAN_AMTCR_0M_12M_TYPE_EQ_CLOSED  \
SK_ID_CURR
215138                                                    NaN
325963                                                    NaN
206923                                                    NaN
265855                                                    NaN
359795                                                    0.0
...                                                       ...
203263                                                    NaN
304373                                                    NaN
348873                                                    NaN
296666                                                    NaN
259380                                                    NaN

           FIRST_TRANSACTION_TIME_MONTHS  LAST_TRANSACTION_TIME_MONTHS  \
SK_ID_CURR
215138                              37.0                          28.0
325963                               3.0                          18.0
206923                              73.0                          61.0
265855                              36.0                           4.0
359795                              12.0                          12.0
...                                  ...                           ...
203263                              19.0                          36.0
304373                              40.0                          40.0
348873                               1.0                          38.0
296666                               3.0                           3.0
259380                              32.0                          32.0

                  TIME  BASE       DAY   MONTH
SK_ID_CURR
215138      2018-06-23     1  20180623  201806
325963      2018-06-16     1  20180616  201806
206923      2018-06-19     1  20180619  201806
265855      2018-08-09     1  20180809  201808
359795      2018-11-13     1  20181113  201811
...                ...   ...       ...     ...
203263      2018-04-20     1  20180420  201804
304373      2018-09-08     1  20180908  201809
348873      2018-02-15     1  20180215  201802
296666      2018-06-27     1  20180627  201806
259380      2018-05-16     1  20180516  201805

[80000 rows x 196 columns]

## Small changes

In [4]:
target = data_cart['TARGET']
data_cart = data_cart.drop(['MONTH','TIME','DAY','BASE','TARGET'], axis=1)
data_cart.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80000 entries, 215138 to 259380
Columns: 191 entries, NAME_CONTRACT_TYPE to LAST_TRANSACTION_TIME_MONTHS
dtypes: float64(138), int64(37), object(16)
memory usage: 117.2+ MB

In [15]:
cols_pred = data_cart.columns
cols_pred_cat = [col for col in cols_pred if data_cart[col].dtype == 'O']
cols_pred_cat

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data_cart, target, test_size=0.2, random_state=123)

## Split data train and test and Test target Encoder

In [14]:
target_encoder = ce.target_encoder.TargetEncoder(
cols=cols_pred_cat,
#drop_invariant=False, 
return_df=True, handle_missing='value', 
handle_unknown='value'
)

# Test XGBOOST

In [11]:
xgb_guillaume = xgb.XGBClassifier()

In [12]:
print(xgb_guillaume)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, gamma=None,
              gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, n_estimators=100, n_jobs=None,
              num_parallel_tree=None, predictor=None, random_state=None,
              reg_alpha=None, reg_lambda=None, ...)

# Pipeline

In [13]:
pipe = Pipeline([
    ('MeanTargetEncoding', target_encoder),
    ('model', xgb_guillaume)
])

## Halving Random Search CV

In [ ]:
param_grid = {
    'MeanTargetEncoding__verbose': [0,1,2],
    'model__max_depth': [2, 4, 6, 8]
}

## Apply pipeline to data

In [ ]:
search = HalvingRandomSearchCV(pipe, param_grid, cv=3).fit(X_train, y_train)

## Calculate AUC

# Predict on the second dataset

In [ ]:
prediction = ...

In [ ]:
data_saving = pd.DataFrame({'SK_ID_CURR' : data_test.index ,'prediction' : prediction})
data_saving.to_csv('DS2_22_HW1_CADIOU&PAIN.csv',index=False,sep=',')
data_saving.info()